html,body{
	margin:0;
	padding:0;
}
#ZgornjaPasica{

	width:950px;
	height:100px;
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-between;
	flex-direction:row;
	align-items:flex-end;

}

.Logo {
	margin-left:20px;

}

#FacebookTwitter{
	margin-right:20px;
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content:flex-end;
	align-items:flex-end;
}
#FacebookTwitter a{
	margin-bottom:8px;
	margin-left:7px;
}
#FacebookTwitter p{
	font-size:14px;
}

#GlavniOkvir {

	margin:0 auto 0 auto;
	width:950px;
}

#Glava {
	background-image: url('./Grafika/glava.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center bottom;
	height: 200px;
	width: 950px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}
#Navigacija {
    background: transparent url('Grafika/navigacija.png') no-repeat center top;
    background-size:cover;
	height: 30px;
	width: 950px;
	
}
#Navigacija ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
	height: 30px;

}
#Navigacija li {
	
}
#Vsebina {
	background-color: green;
	min-height: 350px;
	width: 950px;
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content:space-between;
	align-items: flex-start;

}
#Clanek{
	background-color: orange;
	min-height: 350px;
	width: 750px;
}
#Sorodno{
		background-color: purple;
	min-height: 350px;
	width: 250px;
}
#Noga{
	background-color: violet;
	height: 50px;
	width: 950px;
}